{% comment %}

    Leaflet Item include.
    Given an annotation JSON file, it will load the related map or image with its annotations. This allows visitors to view the interactive annotated image on the webpage.

    The page or layout must have "leaflet-viewer: true" in the front matter.

    Options: 
    - annotation = the filename of a JSON annotation file contained in the "objects" directory of this project. E.g. "campus-places.json" (required)

{% endcomment %}
<div id="{{ include.annotation | slugify }}" class="leaflet-item my-4" data-annotation-file="{{ '/objects' | relative_url }}/{{ include.annotation }}"></div>